@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  min-width: 1005px;
  font-family: "Space Mono", monospace;
  color: rgb(47, 255, 57);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(1 1 3) 30%,
    rgb(5 5 36) 48%,
    rgb(8, 8, 36) 50%,
    rgb(5 5 36) 52%,
    rgb(0 0 3) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  overflow-y: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

aside {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px white solid;
}

label {
  background-image: none;
  background-position: center;
  background-size: cover;
  background-blend-mode:difference;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  transition: padding 0.25s ease, color 0.3s ease;
}
.test {
  display: inline;
  font-size: 30px;
  padding:0px;
  margin: 0px;
  line-height: 15px;
  letter-spacing: -3px;
}

label:hover {
  padding: 0.5rem 1.5rem;
  color: rgb(255, 255, 255);
}

input[type="file"] {
  display: none;
}

.result {
  border: 1px white solid;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-wrap: normal;
}

#result {
  font-family: "Courier New", monospace;
  line-height: 1;       /* prevents extra vertical gaps */
  white-space: pre;
  /* transition: all 0.3s ease; */
  border-color: white;
}

#result:hover {
  border: rgb(52, 126, 57);
}

#result span {
  display: inline;
  font-family: inherit;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin: 1rem;
  cursor: default;
}

h1 p {
  display: inline;
  filter: drop-shadow(0 0 0.2rem rgb(52, 126, 57));
  transition: all 0.1s ease-out;
}

h1 p:hover {
  filter: drop-shadow(0 0 0.4rem rgb(127, 255, 135));
  color: white;
}

h2 {
  font-weight: 400;
  font-size: 1rem;
}

h3 {
  display: inline;
  color: white;
  font-weight: 400;
  font-size: 0.7rem;
}

button {
  cursor: pointer;
  background: none;
  color: rgb(47, 255, 57);
  border: 1px white solid;
  transition: padding 0.25s ease, color 0.3s ease;
  padding: 0.5rem;
}

button:disabled {
  color: rgb(119, 119, 119);
}

button:disabled:hover {
  color: rgb(119, 119, 119);
  padding: 0.5rem;
  cursor: auto;
}

button:hover {
  padding: 0.5rem 1.5rem;
  color: rgb(255, 255, 255);
}

button:active {
  padding: 0.5rem 1rem;
}

#imageName {
  text-decoration: underline;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 2rem 1rem;
}

input[type="range"] {
  appearance: none;
  width: 20rem;
  height: 0.5rem;
  cursor: pointer;
  outline: none;
  background: rgb(47, 255, 57);
  border-radius: 1rem;
  margin-left: 3rem;
  transition: all 1 ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 2rem;
  width: 1rem;
  background-color: transparent;
  border-radius: 5px;
  border: 1px white solid;
  transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: white 0 0 0.5rem;
  height: 2.5rem;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 5px;
}
